body {
    text-align: center;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 100;
    max-width: 100%;
    background-color: rgb(17, 16, 16);
    color: rgb(252, 205, 135);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(252, 205, 135);
}


h1 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 250;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 200;
}

.logo-accent {
    font-size: 2.25rem;
}

.layout-wrapper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: rgb(12, 12, 12);
    position: sticky;
    border-bottom: 1px solid rgb(252, 205, 135);
}

nav {
    display: flex;
    gap: 1rem;
}

.hero-container {
    position: relative;
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
}

.hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}