/* =====================
   ROOT / VARIABLES
===================== */

:root {
  /* base color   */
  --color-background: rgb(12, 12, 12);
  /* text/highlights/borders */
  --color-primary: rgba(196, 156, 64, 1);
  --color-primary-hover: #edc193;
  --color-secondary: rgba(255, 255, 255, 1);
  --color-secondary-hover: rgba(255, 255, 255, 0.885);

  /* SPACING */
  --spacing-xxs: 0.05rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-md: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 6rem;

  /* FONT-SIZE */
  --font-xxs: 0.9rem;
  --font-xs: 1rem;
  --font-s: 1.5rem;
  --font-md: 2rem;
  --font-l: 2.2rem;
  --font-xl: 2.25rem;
  --font-xxl: 2.5rem;
}

/* =====================
   BASE
===================== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hepta Slab', serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

/* =====================
   TYPOGRAPHY
===================== */

h1,
h2,
h3,
p {
  color: var(--color-secondary);
  line-height: 1.6;
}

h1 {
  font-size: var(--font-l);
  font-weight: 300;
  text-align: center;
  margin-bottom: var(--spacing-md);
}

h2 {
  font-size: var(--font-md);
  font-weight: 200;
  margin-bottom: var(--spacing-s);
}

h3 {
  font-size: var(--font-s);
  font-weight: 100;
}

p {
  font-size: var(--font-xs);
  font-weight: 300;
  letter-spacing: var(--spacing-xxs);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  padding: var(--spacing-xs);
  font-size: var(--font-xs);
}

@media (max-width: 425px) {
  h1 {
    font-size: var(--font-s);
  }

  h2 {
    font-size: var(--font-s);
  }

  a {
    font-size: var(--font-xxs);
  }
}

/* =====================
   LAYOUT HELPER
===================== */
.content-box {
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
  padding: var(--spacing-md);
}

.content-box img {
  max-width: 90%;
  height: 60vh;
  padding-top: var(--spacing-xl);
  object-fit: cover;
}

@media (max-width: 1024px) {
  .content-box {
    max-width: 80%;
  }

  .content-box img {
    max-width: 100%;
    height: auto;
    padding-top: var(--spacing-l);
  }
}

/* =====================
   COMPONENTS
===================== */

/* === HEADER + NAV === */

.layout-wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs) var(--spacing-l);
  border-bottom: 1px solid var(--color-primary);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-background);
}

.logo {
  font-size: var(--font-xxl);
  font-weight: 300;
}

.logo-accent {
  font-size: var(--font-xl);
}

.hamburger {
  display: none;
}

nav {
  display: flex;
  gap: var(--spacing-s);
}

nav a {
  text-transform: uppercase;
}

nav a:hover {
  color: var(--color-primary-hover);
}

.navlink-res {
  border: 1px solid var(--color-primary);
  padding: var(--spacing-xs);
}

.navlink-res:hover {
  border-color: var(--color-primary-hover);
}

@media (max-width: 1200px) {
  .hamburger {
    display: block;
    font-size: var(--spacing-md);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
  }

  nav {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-background);
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--spacing-s);

    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    transition: translate 3s ease-in-out;
  }

  .navlink-res {
    border: none;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .layout-wrapper-header {
    padding: var(--spacing-xxs) var(--spacing-xs);
  }

  .logo {
    font-size: var(--font-l);
  }

  .logo-accent {
    font-size: var(--font-md);
  }
}

/* === HERO === */
.hero-container {
  position: relative;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: bottom center;
}

.hero-buttons {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: var(--spacing-s);
}

@media (max-width: 768px) {
  .hero-container {
    height: 60vh;
  }

  .hero-buttons {
    flex-direction: column;
    gap: var(--spacing-xxs);
  }
}

/* === BUTTONS === */

.btn-container {
  margin-top: var(--spacing-s);
  padding: var(--spacing-s);
  text-align: center;
}

.btn {
  border: 1px solid var(--color-primary);
  padding: var(--spacing-s);
  margin: var(--spacing-s);
  display: inline-flex;
  width: 220px;
  justify-content: center;
  text-transform: uppercase;
}

.btn-primary {
  color: var(--color-background);
  background-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

.btn-secondary {
  background-color: var(--color-background);
  color: var(--color-primary);
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

button {
  font-family: 'Hepta Slab', serif;
}

.reservation-btn {
  margin: var(--spacing-xl) 0;
}

.reservation-form button {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .btn-container {
    padding: 0;
  }

  .btn {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
    margin-left: 0;
    margin-right: 0;

  }
}

/* === INTRO (reusable section) === */

.intro {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xxl);
  align-items: center;
  max-width: 100%;
  margin: var(--spacing-xl) auto 0;
}

.intro-text-container,
.intro-img-container {
  flex: 1;
}

.intro-text {
  max-width: 480px;
}

.intro-img {
  width: clamp(400px, 50vw, 400px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.intro--reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .intro {
    flex-direction: column;
    gap: var(--spacing-md);
    margin: var(--spacing-md) auto 0;
  }
}

@media (max-width: 575px) {
  .intro-text {
    max-width: 90%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }

  .intro-img {
    width: clamp(300px, 40vw, 300px);
  }
}

/* =====================
   PAGE: MENU
===================== */

.menu-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md);
}

.menu-section h3 {
  text-align: left;
}

.menu-section img {
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  object-fit: cover;
  display: block;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-s) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-item-name {
  text-transform: uppercase;
}

.menu-item-description {
  font-size: var(--font-xxs);
  opacity: 0.8;
}

.menu-item-price {
  margin-right: var(--spacing-md);
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .menu-section img {
    max-height: 40vh;
  }
}

@media (max-width: 425px) {
  .menu-section {
    padding: var(--spacing-md) var(--spacing-s);
  }

  .menu-section h3 {
    text-align: center;
  }

  .menu-category ul {
    margin: 0;
    padding: 0;
  }

  .menu-item-price {
    margin: 0;
  }
}

/* =====================
   PAGE: CONTACT
===================== */

.contact-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: var(--spacing-l);
  max-width: 800px;
  margin: var(--spacing-md) auto 0 auto;
}

.contact-info,
.contact-hours {
  padding: var(--spacing-md);
  width: 100%;
}

.contact-hours {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.contact-info address {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contact-info address p {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  font-style: normal;
  color: var(--color-primary);
}

.contact-label {
  text-transform: uppercase;
}

.hours-table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
}

.hours-table th {
  text-align: left;
  font-weight: 400;
}

.contact-map {
  grid-column: span 2;
  text-align: center;
  max-width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

/* bug not solved */
.map-iframe {
  width: 95%;
  max-width: 100%;
  height: 300px;
  display: block;
  border: 0;
}

@media (max-width: 1024px) {
  .contact-layout {
    grid-template-columns: 1fr;
    gap: 0;
    margin: var(--spacing-xs) auto 0 auto;
  }

  .contact-info,
  .contact-hours {
    text-align: left;
    margin: 0 auto;
    align-items: center;
    width: auto;
    padding: var(--spacing-s);
  }

  .contact-heading {
    text-align: center;
  }

  .contact-info address p {
    margin: var(--spacing-xxs);
  }

  .hours-table th,
  .hours-table td {
    padding: var(--spacing-xs) var(--spacing-s);
  }

  .contact-map {
    grid-column: auto;
    margin-top: var(--spacing-md);
  }

  .map-iframe {
    width: 100%;
  }
}

@media (max-width: 425px) {

  .contact-info,
  .contact-hours {
    padding: var(--spacing-xs);
  }

  .hours-table th,
  .hours-table td {
    padding: var(--spacing-xxs) var(--spacing-xs);
    font-size: var(--font-xxs);
  }

  .contact-label {
    font-size: var(--font-xxs);
  }
}

/* =====================
   PAGE: BOOK
===================== */

.reservation-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-xs);
}

.reservation-fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  margin: 0 auto;
  border: none;
  padding: 0;
  width: 600px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-row label {
  flex: 1;
  max-width: 150px;
}

.form-row input,
.form-row select {
  flex: 2;
  font-size: var(--spacing-s);
  padding: var(--spacing-xs);
}

@media (max-width: 768px) {

  .reservation-fieldset {
    max-width: 100%;
    flex-shrink: 1;
  }

  .form-row label {
    font-size: var(--font-xxs);
  }

}

/* =====================
   FOOTER
===================== */

.footer-layout {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--spacing-l);
  padding: var(--spacing-md) var(--spacing-xxl);
  margin-top: var(--spacing-xl);
  border-top: 1px solid var(--color-primary);
  margin-bottom: var(--spacing-s);
}

.footer-layout p {
  margin: 0;
}

.footer-contact,
.footer-social,
.footer-copy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
}

.footer-copy {
  line-height: 1.2;
}

.footer-contact-content {
  text-align: left;
}

.footer-social>div {
  display: flex;
  gap: var(--spacing-md);
  margin-top: auto;
  margin-bottom: auto;
}

.footer-social img {
  margin: 0;
  max-width: 32px;
  filter: invert(100%);
}

.footer-social a {
  padding: 0;
}

@media (max-width: 1024px) {
  footer {
    display: none;
  }

  .footer-layout {
    display: none;
  }

  .footer-contact,
  .footer-social,
  .footer-copy {
    display: none;
  }

  .footer-contact-content {
    display: none;
  }

  .footer-social>div {
    display: none;
  }

  .footer-social img {
    display: none;
  }

  .footer-social a {
    display: none;
  }
}