@import "tailwindcss";

:root {
    /* base color   */
    --color-background: rgb(12, 12, 12);
    /* text/highlights/borders */
    --color-primary: rgba(196, 156, 64, 1);
    --color-primary-hover: #edc193;
    --color-secondary: rgba(255, 255, 255, 1);
    --color-secondary-hover: rgba(255, 255, 255, 0.885);
}

@layer base {
    body {
        font-family: 'Hepta Slab', serif;
        margin: 0;
        padding: 0;
        background-color: var(--color-background);
        color: var(--color-primary);
    }

    h1,
    h2,
    h3,
    p {
        color: var(--color-secondary);
        line-height: 1.6;
    }

    h1 {
        /* font-size: 2.5rem;
        font-weight: 300; */
        font-size: 2.2rem;
        font-weight: 300;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: 200;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.05rem;
    }

    img {
        max-width: 100%;
    }

    a {
        color: var(--color-primary);
        text-decoration: none;
        padding: 0.5rem;
        font-size: 1rem;
    }

}

@layer component {

    header {
        @apply sticky top-0 z-50;
        background-color: var(--color-background);
    }

    .layout-wrapper-header {
        /* mobile */
        @apply flex justify-between items-center px-6 py-2 border-b;
        border-color: var(--color-primary);
        /* tablet */
        @apply lg:px-6 lg:py-1;
        /* desktop */
        @apply xl:px-12 xl:py-1;
    }

    .logo {
        @apply text-2xl font-light lg:text-[2rem] xl:text-[2.5rem];
    }


    .logo-accent {
        @apply text-xl lg:text-2xl xl:text-4xl;
    }

    nav {
        @apply hidden flex-col gap-2 w-full lg:flex lg:flex-row lg:gap-4 lg:w-auto;
    }

    .hamburger {
        @apply block lg:hidden text-2xl p-2;
    }

    nav a {
        @apply text-base uppercase lg:text-[0.9rem] xl:text-lg;
    }

    nav a:hover {
        color: var(--color-primary-hover);
    }

    .navlink-res {
        @apply border p-2;
        border-color: var(--color-primary);
    }

    .navlink-res:hover {
        border-color: var(--color-primary-hover);
    }

    .hero-container {
        @apply relative w-full overflow-hidden max-h-[80vh];
    }

    .hero-container::after {
        content: "";
        @apply absolute top-0 left-0 w-full h-full;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero-img {
        @apply w-full h-full object-cover block object-bottom;
    }

    .hero-buttons {
        @apply absolute z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-2;

        @apply lg:flex-row lg:gap-4;
    }

    .intro {
        display: flex;
        justify-content: center;
        gap: 6rem;
        align-items: center;
        max-width: 100%;
        margin: 5rem auto 0;

    }

    .intro-text-container,
    .intro-img-container {
        flex: 1;
    }

    .intro-text {
        max-width: 30rem;
    }

    .intro-img {
        flex: 1;
        max-width: 35%;
        height: 500px;
        object-fit: cover;
    }

    .intro--reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .btn-container {
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .btn {
        border: 1px solid var(--color-primary);
        padding: 1rem;
        margin: 1rem;
        display: inline-flex;
        width: 14rem;
        justify-content: center;
        text-transform: uppercase;
    }

    .btn-primary {
        color: var(--color-background);
        background-color: var(--color-primary);
    }

    .btn-primary:hover {
        background-color: var(--color-primary-hover);
    }

    .btn-secondary {
        background-color: var(--color-background);
        color: var(--color-primary);
    }

    .btn-secondary:hover {
        background-color: var(--color-primary);
        color: var(--color-background);
    }

    button {
        font-family: 'Hepta Slab', serif;
    }

    .reservation-btn {
        margin: 4rem;
    }

    .content-box {
        margin: 0 auto;
        text-align: center;
        max-width: 70%;
        padding: 2rem;
    }

    .content-box img {
        max-width: 100%;
        height: 60vh;
        padding-top: 4rem;
    }
}


.contact-layout {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    gap: 3rem;
    max-width: 800px;
    margin: 2rem auto 0 auto;
}

.contact-info,
.contact-hours {
    padding: 2rem;
    width: 100%;
}

.contact-info address {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contact-info address p {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    font-style: normal;
    color: var(--color-primary);
}

.contact-label {
    text-transform: uppercase;
}


.contact-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.6;
}

.hours-table {
    width: 100%;
    max-width: 400px;
}

.hours-table th {
    text-align: left;
    font-weight: 400;
}


.contact-map {
    grid-column: span 2;
    text-align: center;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.contact-map .map-iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: block;
    border: 0;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reservation-fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    margin: 0 auto;
    border: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-row label {
    flex: 1;
    max-width: 150px;
}

.form-row input,
.form-row select {
    flex: 2;
    font-size: 1rem;
    padding: 0.5rem;
}

.reservation-form button {
    display: block;
    margin: 0 auto;
}

.menu-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.menu-section h2 {
    text-align: center;
    text-transform: uppercase;
}

.menu-section img {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin-bottom: 5rem;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-item-name {
    text-transform: uppercase;
}

.menu-item-description {
    font-size: 0.9rem;
    opacity: 0.8;
}

.menu-item-price {
    margin-right: 2rem;
    letter-spacing: 0.2rem;
}

.footer-layout {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 7rem;
    margin-top: 4rem;
    border-top: 1px solid var(--color-primary);
    margin-bottom: 1rem;
}

.footer-layout p {
    margin: 0;
}

.footer-contact,
.footer-social,
.footer-copy {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
}

.footer-copy {
    line-height: 1.2;
}

.footer-contact-content {
    text-align: left;
}

.footer-social>div {
    display: flex;
    gap: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-social img {
    margin: 0;
    max-width: 2rem;
    filter: invert(100%);
}

.footer-social a {
    padding: 0;
}