:root {
    /* base color   */
    --color-background: rgb(12, 12, 12);
    /* text/highlights/borders */
    --color-primary: rgba(196, 156, 64, 1);
    --color-primary-hover: #edc193;
    --color-secondary: rgba(255, 255, 255, 1);
    --color-secondary-hover: rgba(255, 255, 255, 0.885);
}

body {
    font-family: 'Hepta Slab', serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-primary);
    line-height: 1.6;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-background);
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: 200;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

p {
    color: var(--color-secondary);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05em;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
}

nav a {
    text-transform: uppercase;
}


nav a:hover {
    color: var(--color-primary-hover);
}

.navlink-res {
    border: 1px solid var(--color-primary);
    padding: 0.5rem;
}

nav {
    display: flex;
    gap: 1rem;
}

.logo-accent {
    font-size: 2.25rem;
}

.layout-wrapper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    border-bottom: 1px solid var(--color-primary);
}

.hero-container {
    position: relative;
    width: 100%;
    max-height: 60vh;
    overflow: hidden;
}

.hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    max-width: 100%;
    margin: 5rem auto 0;

}

.intro-text-container,
.intro-img-container {
    flex: 1;
}

.intro-text {
    max-width: 30rem;
}

.intro-img {
    flex: 1;
    max-width: 35%;
    height: 500px;
    object-fit: cover;
}

.intro--reverse {
    display: flex;
    flex-direction: row-reverse;
}

.btn-container {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.btn {
    border: 1px solid var(--color-primary);
    padding: 1rem;
    margin: 1rem;
    display: inline-flex;
    width: 12rem;
    justify-content: center;
}

.btn-primary {
    color: var(--color-background);
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-secondary {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.content-box {
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
    padding: 2rem;
}

.content-box img {
    max-width: 80%;
    height: auto;
    padding-top: 4rem;
}

.contact-layout {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    gap: 3rem;
    max-width: 1400px;
    justify-self: center;
}

.contact-info,
.contact-hours {
    padding: 2rem;
    width: 100%;
}

.contact-info address {
    display: flex;
    flex-direction: column;
}

.contact-info address p {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
}

.contact-label {
    text-transform: uppercase;
    color: var(--color-primary);
}


.contact-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hours-table {
    width: 100%;
    max-width: 400px;
}

.hours-table th {
    text-align: left;
    font-weight: 400;
}


.contact-map {
    grid-column: span 2;
    text-align: center;
    display: block;
    width: 100%;
}

/* .map-iframe {
    width: 100%;
    height: 300px;
    border: 0;
    display: block;
} */

.contact-map .map-iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: block;
    border: 0;
}